body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 24px;
}

#clock {
    height: 100px;
    width: 400px;
    border: none;
    background-color: rgb(167, 167, 18);
    color: white;
    font-size: 60px;
    font-weight: bolder;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}